ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #990000;
}
li {
    float: left;
}
p{
	font-size: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #66e0ff;
}

#tr2{
display: inline-block;
padding-top: 50px;
padding-left: 450px;
}

#tr1{
	display: inline-block;
	padding-left: 100px;
}

header{
	font-style: times;
	color: #008000;
}
h4{
	color: maroon;
}
span{
	color: blue;
}

ol
{
    font-size: 22px;
    color: darkgreen;
		
}
body{
	background-image: url("craft.jpg");
	background-size: 1300px 650px;
}
p{
	color: darkgreen;
}
